@import url(https://fonts.googleapis.com/css?family=Cookie);
* {
  padding: inherit;
  margin-left: 5px;
  background-color: #ffdbcc;
}

h1 {
  font-family: helvetica;
  font-weight: bold;
  color: grey;
  font-size: 45px;
  /*text-align: center;*/
}

h2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

section {
  font-family: Cookie;
  color: #3bbc46;
  font-size: 30px;
}

li {
  font-family: monospace;
  font-size: 20px;
  color: black;
  padding: 8px;
  /*text-align: center;*/
}

body {
  font-family: arial;
}
