@import url(https://fonts.googleapis.com/css?family=Cookie);
body {
  font-family: arial;
  background-image: url("smoked-salmon-macaron-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  margin-top: 5em;
}

p {
  font-family: arial;
  text-align: center;
}

h1 {
  font-family: helvetica;
  font-weight: bold;
  color: grey;
  font-size: 45px;
  text-align: center;
  margin-top: 2em;
  border: 3px white;
  border-style: dotted solid dotted solid;
}

ul {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
}

li {
  display: inline;
}

li a {
  padding: 8px;
  color: white;
  background-color: #dddddd;
  text-decoration: none;
}

#b, #d, #e {
  color: grey;
}

figure {
  float: left;
  text-align: center;
  border: 3px solid #dddddd;
  background-color: white;
}

h2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

#slogan {
  font-style: italic;
}

#a {
  font-family: Cookie;
  color: #3bbc46;
  font-size: 35px;
}

#r {
  text-align: center;
}

#h {
  visibility: hidden;
}

td, tr {
  font-family: monospace;
  font-size: 20px;
  color: black;
  padding: 12px;
  text-align: left;
}

#footer {
  padding: 0.8em;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
