@import url(https://fonts.googleapis.com/css?family=Cookie);
* {
  padding: inherit;
  margin-left: 5px;
  background-color: #ffdbcc;
}

h1 {
  font-family: helvetica;
  font-weight: bold;
  color: grey;
  font-size: 45px;
}

section {
  font-family: Cookie;
  color: #3bbc46;
  font-size: 30px;
}

ul {
  font-family: monospace;
  font-size: 20px;
  color: black;
}

body {
  font-family: arial;
}
